.profile__button-edit {
  border: 1px solid #FFFFFF;
  background-color: #000000;
  background-image: url(../../../images/Edit.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  margin-top: 15px;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity .3s ease;
}

.profile__button-edit:hover {
  opacity: .6;
}
