.profile__avatar {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

@media screen and (max-width: 610px) {
  .profile__avatar {
    margin-right: 0;
  }
}
